%% -*- erlang -*-
%%
%%  config items for modbus
%% 

[
 {host, "localhost"},              %% tcp-client 
 {port, 502},                      %% tcp-client/tcp-server
 {protocol, [tcp]},                %% tcp-client/tcp-server
 {unit_id, 255},                   %% server
 {callback,modbus_demo_callback}   %% server
].

